<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <head>
        <title>Women's Fashion a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Women's Fashion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript">
            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
                   function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //for-mobile-apps -->
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
        <link href="~/css/fasthover.css" rel="stylesheet" />

        <!-- js -->
        <script src="~/Scripts/jquery.min.js"></script>

        <!-- //js -->
        <!-- countdown -->
        <link href="~/css/jquery.countdown.css" rel="stylesheet" />

        <!-- //countdown -->
        <!-- cart -->
        @*<script src="~/Scripts/simpleCart.min.js"></script>*@

        <!-- cart -->
        <!-- for bootstrap working -->
        <script src="~/Scripts/bootstrap-3.1.1.min.js"></script>

        <!-- //for bootstrap working -->

        <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <!-- start-smooth-scrolling -->
        <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
        </script>
        <!-- //end-smooth-scrolling -->
    </head>

</head>



<body>

    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3l_login">
                @Html.Action("AccountDialog", "TaiKhoan")
            </div>
            <div class="w3l_logo">
                <h1><a href="@Url.Action("Index","NguoiDungLayout")">OKCat Store<span>For Fashion Lovers</span></a></h1>
            </div>
            <div class="search">
                <input class="search_box" type="checkbox" id="search_box">
                <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
                <div class="search_form">
                    <form action="@Url.Action("TimSanPham","NguoiDungLayout")" method="post">
                        <input type="text" name="Search" placeholder="Nhập từ cần tìm ....">
                        <input type="submit" value="Tìm">
                    </form>
                </div>
            </div>
            @Html.Action("ThongTinGioHang_Partialview", "GioHang")
            
        </div>
    </div>
    <div class="navigation">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index","NguoiDungLayout")" class="act">Trang Chủ</a></li>
                        <!-- Mega Menu -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    @Html.Action("ThuongHieu", "NguoiDungLayout")
                                    @Html.Action("LoaiGiay", "NguoiDungLayout")
                                    <div class="clearfix"></div>
                                </div>
                            </ul>
                        </li>
                        @*<li><a href="about.html">Tư vấn khách hàng</a></li>*@
                        <li><a href="@Url.Action("CachDoSize","NguoiDungLayout")">Cách đo size</a></li>
                        @*<li><a href="mail.html">Liên hệ</a></li>*@
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- //header -->
    <!-- banner -->
    <div class="banner" id="home1">
        <div class="container">
            <h3>OkCat Store, <span>For Fashion Lovers</span></h3>
        </div>
    </div>
    <!-- //banner -->
    <!-- banner-bottom -->
    @RenderBody()

    <div class="footer">
        <div class="container">

            <div class="w3_footer_grids">
                <div class="col-md-6 w3_footer_grid">
                    <div id="fb-root"></div>
                    <script>
                        (function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=680224238800600";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-page" data-href="https://www.facebook.com/www.YaMe.vn/?fref=ts" data-tabs="timeline" data-width="600" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/www.YaMe.vn/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/www.YaMe.vn/?fref=ts">YaMe Shop</a></blockquote></div>
                </div>
                <div class="col-md-6 w3_footer_grid">
                    <iframe 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1188803492937!2d106.71277521390103!3d10.802206061673246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c3d29d370b52a7e!2zSFVURUNIIC0gxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hyBUUC5IQ00!5e0!3m2!1svi!2s!4v1476244153954" width="600" height="200" frameborder="0" style="border:0" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="w3_footer_grids">
                <div class="col-md-3 w3_footer_grid">
                    <h3>Liên hệ</h3>
                    <p>Hãy liên hệ khi bạn cần tư vấn.</p>
                    <ul class="address">
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>475A Điện Biên Phủ, P.25, Q.Bình Thạnh <span>Thành phố Hồ Chí Minh.</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:cskh@okcat.com">cskh@okcat.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>0989112644</li>
                    </ul>
                </div>
                <div class="col-md-6 w3_footer_grid">
                    <h3>Information</h3>
                    <ul class="info">
                        <p style="text-align: justify;">"Chúng tôi mang đến sự khác biệt!" - Cùng với xu hướng thời trang của thế giới Hệ  thống OkCatStore đã và đang không ngừng đổi mới để mang đến cho các bản trẻ các mẫu thời trang độc đáo, mới lạ, để tiên phong cho một phong cách thời trang mới, một phong cách biểu tượng cho giới trẻ trên cả nước. Vì thế MWCSHOP đang dần trở  thành một cái tên quen thuộc với tất cả các bạn trẻ với những phong cách  thời trang hoàn toàn mới lạ, khẳng định cá tính của chính mình.</p>
                        <p style="text-align: justify;"><em>Sự hài  lòng của các bạn chính là mục tiêu phấn đấu của chúng tôi.&nbsp;</em></p>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Profile</h3>
                    <ul class="info">
                        <li><a href="products.html">Summer Store</a></li>
                        <li><a href="checkout.html">My Cart</a></li>
                    </ul>
                    <h4>Follow Us</h4>
                    <div class="agileits_social_button">
                        <ul>
                            <li><a href="#" class="facebook"> </a></li>
                            <li><a href="#" class="twitter"> </a></li>
                            <li><a href="#" class="google"> </a></li>
                            <li><a href="#" class="pinterest"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-copy">
            <div class="footer-copy1">
                <div class="footer-copy-pos">
                    <a href="#home1" class="scroll"><img src="~/images/arrow.png" alt=" " class="img-responsive" /></a>
                </div>
            </div>
            <div class="container">
                <p>&copy; OkCat Store. All rights reserved | Design by <a href="http://www.hutech.edu.vn//">MTB</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
</body>

</html>
