@model IEnumerable<OkCatStore.Models.SANPHAM>

@foreach (var item in Model)
{
    string id = "#" + item.MASP;
    <div class="col-md-4 agile_ecommerce_tab_left">
        <div class="hs-wrapper">
            @Html.Action("LayHinhSanPham", "NguoiDungLayout", new { MASP = item.MASP, count = 100})
            <div class="w3_hs_bottom">
                <ul>
                    <li>
                        <a href="@Url.Action("Details", "NguoiDungLayout", new { id = item.MASP } )" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <h5><a href="@Url.Action("Details", "NguoiDungLayout", new { id = item.MASP } )">@item.TENSP</a></h5>
        <div class="simpleCart_shelfItem">
            <p><i class="item_price">@String.Format("{0:0,0}", @item.GIABAN) VNĐ</i></p>
            <p><a class="item_add" href="@Url.Action("ThemGioHang","GioHang", new { @iMaSP = item.MASP, @strURL = Request.Url.ToString() })">Thêm vào giỏ hàng</a></p>
        </div>
    </div>
}